@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Noto+Sans+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

P {
  margin-bottom: 0 !important;
}

p,
h1,
h2,
h3,
h4 {
  font-size: 16px;
  margin-bottom: 0;
}

@font-face {
  font-family: saira-extraBold;
  src: url(../fonts/saira/static/Saira-ExtraBold.ttf);
}
@font-face {
  font-family: saira-bold;
  src: url(../fonts/saira/static/Saira-Bold.ttf);
}
@font-face {
  font-family: saira-semiBold;
  src: url(../fonts/saira/static/Saira-SemiBold.ttf);
}
@font-face {
  font-family: saira-medium;
  src: url(../fonts/saira/static/Saira-Medium.ttf);
}
@font-face {
  font-family: saira-regular;
  src: url(../fonts/saira/static/Saira-Regular.ttf);
}
@font-face {
  font-family: cairo-Bold;
  src: url(../fonts/Cairo/Cairo-Bold.ttf);
}
@font-face {
  font-family: cairo-semiBold;
  src: url(../fonts/Cairo/Cairo-SemiBold.ttf);
}
:root {
  --neutrals-N-100: #0C0C0C;
  --neutrals-N-85: #303030;
  --neutrals-N-70: #494949;
  --neutrals-N-55: #7A7A7A;
  --neutrals-N-40: #AEAEAE;
  --neutrals-N-25: #B7B7B7;
  --neutrals-N-10: #E7E7E7;
  --neutrals-N-7: #EEEEEE;
  --neutrals-white: #FFFFFF;
  --Error--Error: #D10000;
  --Error--light: #FBE8E8;
  --Warning-Warning: #FFB833;
  --Warning-light: #FFF6E6;
  --Success-Success: #1BD140;
  --Success-light: #E6FAEA;
  --primary-50: #ffe9e9;
  --primary-100: #febcbc;
  --primary-200: #fe9b9b;
  --primary-300: #fe6e6e;
  --primary-400: #fd5151;
  --primary-500: #fd2626;
  --primary-600: #e62323;
  --primary-700: #b41b1b;
  --primary-800: #8b1515;
  --primary-800: #6a1010;
  --secondary-50: #e9f6f5;
  --secondary-100: #bce3e0;
  --secondary-200: #9bd6d1;
  --secondary-300: #6ec3bb;
  --secondary-400: #51b8ae;
  --secondary-500: #26a69a;
  --secondary-600: #23978c;
  --secondary-700: #1b766d;
  --secondary-800: #155b55;
  --secondary-900: #104641;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--neutrals-N-100);
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
}
@media (min-width: 1025px) and (max-width: 1180px) {
  nav {
    padding: 0rem 2rem;
  }
}
@media (max-width: 767px) {
  nav {
    padding: 0rem 1.5rem;
  }
}
nav .logo-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
nav .logo-side img:first-child {
  display: none;
}
@media (max-width: 1024px) {
  nav .logo-side img:first-child {
    display: block;
    cursor: pointer;
  }
}
nav .logo-side img:nth-child(2) {
  height: 44px;
  width: 44px;
}
nav .logo-side p {
  font-weight: 700;
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
  color: var(--neutrals-white);
}
@media (max-width: 1024px) {
  nav .logo-side p {
    display: none;
  }
}
nav .logo-side .navigation-box-mobile {
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0%;
  background-color: var(--neutrals-N-100);
  padding: 0rem 1.5rem;
  right: 100%;
  transition: 0.3s ease-in-out;
}
nav .logo-side .navigation-box-mobile a {
  color: var(--neutrals-white);
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #494949;
  text-align: center;
  padding: 1rem;
  display: block;
}
nav .logo-side .navigation-box-mobile a:hover {
  color: var(--neutrals-white);
}
nav .logo-side .navigation-box-mobile a:last-child {
  border: none;
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 1024px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  height: 100%;
  padding: 0rem 1.1rem;
}
nav ul li span {
  color: var(--neutrals-white);
}
nav ul li a {
  color: var(--neutrals-white);
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
nav ul li a:hover {
  color: var(--neutrals-white);
}
@media (min-width: 1025px) and (max-width: 1240px) {
  nav ul li a {
    font-size: 14px;
  }
}
nav ul li .categories-nav-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 350px;
  background-color: var(--neutrals-N-100);
  overflow: auto;
  flex-wrap: wrap;
  display: none;
  width: 50%;
}
nav ul li .categories-nav-dropdown::-webkit-scrollbar {
  width: 5px;
}
nav ul li .categories-nav-dropdown::-webkit-scrollbar-track {
  background-color: var(--neutrals-N-100);
}
nav ul li .categories-nav-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--primary-500);
}
nav ul li .categories-nav-dropdown .single-category {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  padding: 1rem 2rem;
}
nav ul li .categories-nav-dropdown .single-category p {
  white-space: nowrap;
  color: var(--neutrals-white);
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}
nav ul li .categories-nav-dropdown .single-category span {
  color: var(--neutrals-N-55);
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}
nav ul li .categories-nav-dropdown .single-category:hover {
  background-color: var(--neutrals-N-85);
}
nav ul li .cities-nav-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 350px;
  background-color: var(--neutrals-N-100);
  overflow: auto;
  flex-wrap: wrap;
  display: none;
  width: 50%;
}
nav ul li .cities-nav-dropdown::-webkit-scrollbar {
  width: 5px;
}
nav ul li .cities-nav-dropdown::-webkit-scrollbar-track {
  background-color: var(--neutrals-N-100);
}
nav ul li .cities-nav-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--primary-500);
}
nav ul li .cities-nav-dropdown .single-city {
  width: 33.3333333333%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
  padding: 1.3rem 1rem;
}
nav ul li .cities-nav-dropdown .single-city img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
nav ul li .cities-nav-dropdown .single-city a {
  white-space: nowrap;
  color: var(--neutrals-white);
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}
nav ul li .cities-nav-dropdown .single-city a:hover {
  color: var(--neutrals-white);
}
nav ul li .cities-nav-dropdown .single-city span {
  color: var(--neutrals-N-55);
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}
nav ul li .cities-nav-dropdown .single-city:hover {
  background-color: var(--neutrals-N-85);
}
nav ul .more {
  position: relative;
  padding: 0rem 2rem;
}
@media (min-width: 1025px) and (max-width: 1180px) {
  nav ul .more {
    padding: 0rem 1rem;
  }
}
nav ul .more .more-dropdown {
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  display: none;
  background-color: var(--neutrals-N-100);
}
nav ul .more .more-dropdown p {
  color: var(--neutrals-white);
  text-align: center;
  background-color: var(--neutrals-N-100);
  padding: 0.7rem;
  font-size: 14px;
}
nav ul .more .more-dropdown p:hover {
  background-color: var(--neutrals-N-85);
}
nav ul li.active-link {
  background-color: var(--primary-500);
}
nav .language-side {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 767px) {
  nav .language-side {
    gap: 1rem;
  }
}
nav .language-side svg:first-child {
  cursor: pointer;
}
nav .language-side .language-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--neutrals-N-85);
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  position: relative;
}
nav .language-side .language-box span {
  color: var(--neutrals-white);
}
nav .language-side .language-box .lang-absolute {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  display: none;
}
nav .language-side .language-box .lang-absolute p {
  color: var(--neutrals-white);
  text-align: center;
  background-color: var(--neutrals-N-85);
  padding: 0.5rem;
}
nav .language-side .language-box .lang-absolute p a {
  color: var(--neutrals-white);
  text-decoration: none;
}
nav .language-side .language-box .lang-absolute p:hover {
  background-color: #555;
}
nav .language-side .language-box .lang-absolute p:first-child {
  border-bottom: 4px solid var(--neutrals-N-100);
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 10000000;
  background-color: rgba(12, 12, 12, 0.9568627451);
  padding: 1.5rem;
  display: none;
  overflow: auto;
}
.search-overlay form {
  width: 100%;
  height: calc(100vh - 5rem);
}
.search-overlay form .top-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.search-overlay form .top-row .nav-search-box {
  flex: 1;
  position: relative;
}
.search-overlay form .top-row .nav-search-box svg {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.search-overlay form .top-row .nav-search-box input {
  width: 100%;
  background-color: var(--neutrals-N-70);
  border: none;
  padding: 0.7rem 1rem;
  outline: none;
  color: var(--neutrals-white);
  font-family: Poppins;
  padding-left: 3rem;
}
.search-overlay form .top-row p {
  color: var(--neutrals-N-25);
  cursor: pointer;
}
.search-overlay form .search-results-box {
  margin-top: 2rem;
  height: 100%;
  padding-bottom: 5rem;
}
.search-overlay form .search-results-box .nav-courses-results {
  overflow: hidden;
}
.search-overlay form .search-results-box .nav-courses-results p.heading {
  margin: 1rem 0rem !important;
  color: #91929D;
  font-size: 14px;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide {
  border: 1px solid #D6D6D6;
  padding: 0.6rem;
  cursor: pointer;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container {
  position: relative;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box {
  position: relative;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box img {
  height: 350px;
  width: 100%;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details {
  position: absolute;
  bottom: 0;
  left: 0;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--neutrals-white);
  font-family: Poppins;
  z-index: 5;
  padding: 1rem;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-type {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.4);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 0.5rem;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-name {
  margin-top: 12px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 27px;
  font-size: 18px;
  font-weight: 500;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration img:first-child {
  width: 20px;
  height: 20px;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration img:nth-child(3) {
  width: 16px;
  height: 16px;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration span {
  font-size: 12px;
  padding-top: 2px;
  font-weight: 400;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary p img {
  width: 20px;
  height: 20px;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary .salary img {
  width: 20px;
  height: 20px;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary .salary span {
  font-size: 18px;
  color: var(--primary-500);
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  z-index: 2;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-side-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 10;
  right: 0%;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-side-overlay p a {
  color: var(--neutrals-white);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.search-overlay form .search-results-box .nav-courses-results .swiper-wrapper .swiper-slide:hover .swiper-side-overlay {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.search-overlay form .search-results-box .nav-categories-results {
  margin-top: 5rem !important;
  margin-bottom: 2rem !important;
  overflow: hidden;
}
.search-overlay form .search-results-box .nav-categories-results p.heading {
  margin: 1rem 0rem !important;
  color: #91929D;
  font-size: 14px;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide {
  border: 1px solid #D6D6D6;
  padding: 0.6rem;
  cursor: pointer;
  position: relative;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 40%;
  background-color: var(--primary-500);
  z-index: -1;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 40%;
  background-color: var(--primary-500);
  z-index: -1;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container {
  position: relative;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box {
  position: relative;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box img {
  height: 350px;
  width: 100%;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details {
  position: absolute;
  bottom: 0;
  left: 0;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--neutrals-white);
  font-family: Poppins;
  z-index: 5;
  padding: 1rem;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-type {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.4);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 0.5rem;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-name {
  margin-top: 12px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 27px;
  font-size: 18px;
  font-weight: 500;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration img:first-child {
  width: 20px;
  height: 20px;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration img:nth-child(3) {
  width: 16px;
  height: 16px;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .course-duration span {
  font-size: 12px;
  padding-top: 2px;
  font-weight: 400;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary p img {
  width: 20px;
  height: 20px;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary .salary img {
  width: 20px;
  height: 20px;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box .course-details .city-salary .salary span {
  font-size: 18px;
  color: var(--primary-500);
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-slide-box::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  z-index: 2;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-side-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 10;
  right: 0%;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide .swiper-slide-container .swiper-side-overlay p a {
  color: var(--neutrals-white);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.search-overlay form .search-results-box .nav-categories-results .swiper-wrapper .swiper-slide:hover .swiper-side-overlay {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.search-overlay form .search-results-box .nav-cities-results {
  margin-top: 5rem !important;
  padding-bottom: 3rem;
  overflow: hidden;
}
.search-overlay form .search-results-box .nav-cities-results p.heading {
  margin: 1rem 0rem !important;
  color: #91929D;
  font-size: 14px;
}
.search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide {
  width: calc(25% - 2rem);
  padding: 1rem;
  background-color: var(--neutrals-white);
  position: relative;
  border: 1px solid #EEEEEE;
}
@media (max-width: 1024px) {
  .search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide {
    width: calc(33.3333333333% - 2rem);
  }
}
@media (max-width: 767px) {
  .search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide {
    width: calc(50% - 2rem);
  }
}
.search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide:hover .city-slide-overlay {
  visibility: visible;
  opacity: 1;
}
.search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide .city-slide-content img {
  height: 200px;
  width: 100%;
}
.search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide .city-slide-content h2 {
  font-family: Poppins;
  font-weight: 500;
  margin: 14px 0px;
}
.search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide .city-slide-content p {
  font-size: 14px;
  background-color: #F3F3F3;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 0.5rem;
  font-weight: 400;
}
.search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide .city-slide-overlay {
  position: absolute;
  background-color: rgba(12, 12, 12, 0.5058823529);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.search-overlay form .search-results-box .nav-cities-results .swiper-wrapper .swiper-slide .city-slide-overlay h2 {
  color: var(--neutrals-white);
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
  text-decoration: none;
}

.hero-section {
  position: relative;
}
.hero-section img:first-child {
  height: 400px;
  width: 100%;
}
@media (max-width: 1024px) {
  .hero-section img:first-child {
    height: 450px;
  }
}
@media (max-width: 767px) {
  .hero-section img:first-child {
    height: 350px;
  }
}
.hero-section img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.hero-section .hero-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  width: 60%;
}
@media (max-width: 767px) {
  .hero-section .hero-content {
    width: 90%;
    top: 60%;
  }
}
.hero-section .hero-content h1 {
  color: var(--neutrals-white);
  font-size: 48px;
  font-weight: 500;
  font-family: Poppins;
  margin-bottom: 4rem;
}
.hero-section .hero-content h1 span {
  color: var(--primary-500);
}
@media (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 20px;
    margin-bottom: 2rem;
  }
}
.hero-section .hero-content .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7rem;
}
.hero-section .hero-content .social a .linkedin:hover rect {
  cursor: pointer;
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
.hero-section .hero-content .social a .linkedin:hover path {
  fill: var(--neutrals-N-100);
  fill-opacity: 1;
}
.hero-section .hero-content .social a .x:hover path {
  cursor: pointer;
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
.hero-section .hero-content .social a .instagram:hover path:first-child {
  cursor: pointer;
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
.hero-section .hero-content .social a .instagram:hover path:nth-child(2) {
  fill: var(--neutrals-N-100);
  fill-opacity: 1;
}
.hero-section .hero-content .social a .youtube:hover path:first-child,
.hero-section .hero-content .social a .whatsapp:hover path:first-child,
.hero-section .hero-content .social a .facebook:hover path:first-child {
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
.hero-section .hero-content .social a .youtube:hover path:nth-child(2),
.hero-section .hero-content .social a .whatsapp:hover path:nth-child(2),
.hero-section .hero-content .social a .facebook:hover path:nth-child(2) {
  fill: var(--neutrals-N-100);
  fill-opacity: 1;
}

.mission-vision {
  width: 80%;
  margin: auto;
  padding: 6rem 0rem;
}
@media (max-width: 1024px) {
  .mission-vision {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .mission-vision {
    padding-bottom: rem;
  }
}
.mission-vision .mission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid #DBDBDB;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .mission-vision .mission {
    flex-direction: column;
  }
}
.mission-vision .mission .mission-right {
  flex: 1;
}
.mission-vision .mission .mission-right h2 {
  font-size: 32px;
  color: var(--neutrals-N-100);
  font-weight: 700;
  font-family: Poppins;
}
@media (max-width: 767px) {
  .mission-vision .mission .mission-right h2 {
    text-align: center;
    font-size: 24px;
  }
}
.mission-vision .mission .mission-right p {
  font-weight: 500;
  color: var(--neutrals-N-100);
  font-family: Cairo;
  line-height: 29.98px;
}
@media (max-width: 767px) {
  .mission-vision .mission .mission-right p {
    text-align: center;
    font-size: 14px;
  }
}
.mission-vision .vision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid #DBDBDB;
  padding: 2rem;
}
@media (max-width: 767px) {
  .mission-vision .vision {
    flex-direction: column;
  }
}
.mission-vision .vision .vision-right {
  flex: 1;
}
.mission-vision .vision .vision-right h2 {
  font-size: 32px;
  color: var(--neutrals-N-100);
  font-weight: 700;
  font-family: Poppins;
}
@media (max-width: 767px) {
  .mission-vision .vision .vision-right h2 {
    text-align: center;
    font-size: 24px;
  }
}
.mission-vision .vision .vision-right p {
  font-weight: 500;
  color: var(--neutrals-N-100);
  font-family: Cairo;
  line-height: 29.98px;
}
@media (max-width: 767px) {
  .mission-vision .vision .vision-right p {
    text-align: center;
    font-size: 14px;
  }
}

.values {
  width: 100%;
  margin: auto;
  padding: 6rem 0rem;
  background-color: var(--neutrals-N-100);
}
.values h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  font-family: Poppins;
  margin-bottom: 2rem;
  color: var(--neutrals-white);
}
.values h2 span {
  color: var(--primary-500);
}
@media (max-width: 767px) {
  .values h2 {
    font-size: 32px;
  }
}
.values .values-boxes {
  margin: 3rem auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.values .values-boxes .values-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0509803922);
  flex: 1;
}
.values .values-boxes .values-box P {
  color: var(--neutrals-white);
  white-space: nowrap;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 767px) {
  .values {
    padding-bottom: 4rem;
  }
}

.policies-section {
  padding: 6rem 0rem;
  position: relative;
}
.policies-section .vector {
  position: absolute;
  top: 0rem;
  right: 0;
  z-index: -1;
  opacity: 0.02;
  height: 100%;
}
.policies-section .top-section {
  width: 80%;
  margin: auto;
  border: 1px solid #DBDBDB;
  position: relative;
  height: 900px;
}
@media (max-width: 1024px) {
  .policies-section .top-section {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .policies-section .top-section {
    height: auto;
  }
}
.policies-section .top-section img {
  height: 100%;
  width: 80%;
}
@media (max-width: 1024px) {
  .policies-section .top-section img {
    width: 100%;
    height: 800px;
  }
}
@media (max-width: 767px) {
  .policies-section .top-section img {
    height: 60vh;
  }
}
.policies-section .top-section .policies-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  padding: 2rem 4rem;
  background-color: var(--neutrals-white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 1024px) {
  .policies-section .top-section .policies-box {
    right: unset !important;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}
@media (max-width: 767px) {
  .policies-section .top-section .policies-box {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    padding: 2rem;
  }
}
.policies-section .top-section .policies-box h1 {
  font-size: 48px;
  font-weight: 500;
  font-family: Poppins;
  color: var(--neutrals-N-100);
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .policies-section .top-section .policies-box h1 {
    text-align: center;
    font-size: 32px;
  }
}
.policies-section .top-section .policies-box p {
  color: var(--neutrals-N-100);
  font-family: Cairo;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.policies-section .lower-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  width: 75%;
  margin: 4rem auto;
}
@media (max-width: 1024px) {
  .policies-section .lower-section {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .policies-section .lower-section {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem auto;
  }
}
.policies-section .lower-section .approach,
.policies-section .lower-section .instructors {
  border: 1px solid #DBDBDB;
  padding: 2rem;
  background-color: var(--neutrals-white);
}
.policies-section .lower-section .approach h1,
.policies-section .lower-section .instructors h1 {
  font-size: 48px;
  font-weight: 500;
  font-family: Poppins;
  color: var(--neutrals-N-100);
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 767px) {
  .policies-section .lower-section .approach h1,
  .policies-section .lower-section .instructors h1 {
    font-size: 32px;
  }
}
.policies-section .lower-section .approach p,
.policies-section .lower-section .instructors p {
  color: var(--neutrals-N-100);
  font-family: Cairo;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

footer {
  background-color: #000000;
  margin-top: 4rem;
}
footer .footer-media-heading {
  display: none;
  padding: 2rem;
}
footer .footer-media-heading h1 {
  color: var(--neutrals-white);
  font-size: 60px;
  margin-bottom: 1rem;
  font-family: bigshot-one;
  font-weight: 600;
}
footer .footer-media-heading p {
  color: #E4F1FE;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 767px) {
  footer .footer-media-heading p {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  footer .footer-media-heading {
    display: block;
  }
}
@media (max-width: 767px) {
  footer .footer-media-heading {
    padding: 1rem;
  }
}
footer .footer-inner {
  display: flex;
  padding: 4rem 4rem 2rem 4rem;
  border-bottom: 1px solid #191919;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
}
footer .footer-inner .footer-left-side {
  width: 70%;
}
footer .footer-inner .footer-left-side .footer-heading {
  width: 56%;
  margin-bottom: 2rem;
}
footer .footer-inner .footer-left-side .footer-heading h1 {
  color: var(--neutrals-white);
  font-size: 60px;
  margin-bottom: 1rem;
  font-family: bigshot-one;
  font-weight: 600;
}
footer .footer-inner .footer-left-side .footer-heading p {
  color: #E4F1FE;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 1024px) {
  footer .footer-inner .footer-left-side .footer-heading {
    display: none;
  }
}
footer .footer-inner .footer-left-side .footer-links {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 6rem;
  margin-top: 4rem;
}
footer .footer-inner .footer-left-side .footer-links .links-left .links-box {
  margin-bottom: 3rem;
}
footer .footer-inner .footer-left-side .footer-links .links-left .links-box .links-heading {
  display: flex;
  gap: 12px;
  margin-bottom: 2rem !important;
}
footer .footer-inner .footer-left-side .footer-links .links-left .links-box .links-heading span {
  color: var(--neutrals-white);
  padding-left: 1px;
  font-family: Poppins;
  font-weight: 500;
}
footer .footer-inner .footer-left-side .footer-links .links-left .links-box a {
  display: block;
  padding-left: 2rem;
  margin-bottom: 14px;
  color: #E4F1FE;
  text-decoration: none;
  font-size: 14px;
  font-family: Cairo;
}
footer .footer-inner .footer-left-side .footer-links .links-right .links-heading {
  display: flex;
  gap: 12px;
  margin-bottom: 2rem !important;
}
footer .footer-inner .footer-left-side .footer-links .links-right .links-heading span {
  color: var(--neutrals-white);
  padding-left: 1px;
  font-family: Poppins;
  font-weight: 500;
}
footer .footer-inner .footer-left-side .footer-links .links-right a {
  display: block;
  padding-left: 2rem;
  margin-bottom: 14px;
  color: #E4F1FE;
  text-decoration: none;
  font-size: 14px;
  font-family: Cairo;
}
@media (max-width: 1024px) {
  footer .footer-inner .footer-left-side .footer-links {
    margin-top: 0rem;
    gap: 0rem !important;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  footer .footer-inner .footer-left-side {
    width: 50%;
  }
}
@media (max-width: 767px) {
  footer .footer-inner .footer-left-side {
    width: 100%;
  }
}
footer .footer-inner .footer-right-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
footer .footer-inner .footer-right-side .email-section h2 {
  color: var(--neutrals-white);
  font-size: 32px;
  margin-bottom: 1.5rem;
  font-family: Poppins;
  font-weight: 700;
}
footer .footer-inner .footer-right-side .email-section p {
  font-weight: 400;
  font-family: Cairo;
  font-size: 16px;
  line-height: 29.98px;
  color: #E4F1FE;
  margin-bottom: 1.5rem !important;
}
footer .footer-inner .footer-right-side .email-section .email-box {
  width: 100%;
  position: relative;
}
footer .footer-inner .footer-right-side .email-section .email-box input {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #FAFAFA;
  border: none;
  color: var(--neutrals-N-100);
  font-size: 16px;
  font-weight: 500;
  font-family: Cairo;
  padding-left: 12px;
  padding-right: 6.5rem;
}
footer .footer-inner .footer-right-side .email-section .email-box input:focus {
  outline: var(--primary-500) solid 2px;
}
footer .footer-inner .footer-right-side .email-section .email-box button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background-color: var(--primary-500);
  border: none;
  padding: 0.3rem 1.5rem;
  color: var(--neutrals-white);
  font-size: 14px;
}
footer .footer-inner .footer-right-side .contact-section .contact-heading {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 2rem !important;
}
footer .footer-inner .footer-right-side .contact-section .contact-heading span {
  color: var(--neutrals-white);
  padding-left: 1px;
  font-family: Poppins;
  font-weight: 500;
}
footer .footer-inner .footer-right-side .contact-section .contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px !important;
}
footer .footer-inner .footer-right-side .contact-section .contact-info svg {
  width: 10%;
}
footer .footer-inner .footer-right-side .contact-section .contact-info svg path {
  stroke: var(--neutrals-white);
}
footer .footer-inner .footer-right-side .contact-section .contact-info p {
  color: #E4F1FE;
  flex: 1;
  font-family: Cairo;
  font-size: 14px;
  font-weight: 400;
}
footer .footer-inner .footer-right-side .payment-section .payment-heading {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 2rem !important;
}
footer .footer-inner .footer-right-side .payment-section .payment-heading span {
  color: var(--neutrals-white);
  padding-left: 1px;
  font-family: Poppins;
  font-weight: 500;
}
footer .footer-inner .footer-right-side .payment-section .payment-methods {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px !important;
}
@media (max-width: 1024px) {
  footer .footer-inner .footer-right-side {
    width: 50%;
  }
}
@media (max-width: 767px) {
  footer .footer-inner .footer-right-side {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  footer .footer-inner {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  footer .footer-inner {
    flex-direction: column;
    padding: 2rem 1rem;
  }
}
footer .copyrights-section {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyrights-section .socials-box h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem !important;
  font-family: bigshot-one;
  color: var(--neutrals-white);
}
footer .copyrights-section .socials-box .social {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
footer .copyrights-section .socials-box .social a .linkedin:hover rect {
  cursor: pointer;
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
footer .copyrights-section .socials-box .social a .linkedin:hover path {
  fill: var(--neutrals-N-100);
  fill-opacity: 1;
}
footer .copyrights-section .socials-box .social a .x:hover path {
  cursor: pointer;
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
footer .copyrights-section .socials-box .social a .instagram:hover path:first-child {
  cursor: pointer;
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
footer .copyrights-section .socials-box .social a .instagram:hover path:nth-child(2) {
  fill: var(--neutrals-N-100);
  fill-opacity: 1;
}
footer .copyrights-section .socials-box .social a .youtube:hover path:first-child,
footer .copyrights-section .socials-box .social a .whatsapp:hover path:first-child,
footer .copyrights-section .socials-box .social a .facebook:hover path:first-child {
  fill: var(--neutrals-white);
  fill-opacity: 1;
}
footer .copyrights-section .socials-box .social a .youtube:hover path:nth-child(2),
footer .copyrights-section .socials-box .social a .whatsapp:hover path:nth-child(2),
footer .copyrights-section .socials-box .social a .facebook:hover path:nth-child(2) {
  fill: var(--neutrals-N-100);
  fill-opacity: 1;
}
footer .copyrights-section p {
  color: var(--neutrals-white);
  font-weight: 400;
  font-family: Poppins;
  font-size: 14px;
}
@media (max-width: 767px) {
  footer .copyrights-section p {
    order: 3;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  footer .copyrights-section {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  footer .copyrights-section {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  footer {
    padding-top: 4rem;
  }
}/*# sourceMappingURL=AboutUs.css.map */